USE [Chatter]
GO
/****** Object:  Table [dbo].[banks_info]    Script Date: 6/16/2022 10:12:36 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banks_info](
	[bank_id] [int] IDENTITY(1,1) NOT NULL,
	[bank_name] [nvarchar](255) NOT NULL,
	[bank_code] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bank_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[category]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[coupon_code] [varchar](255) NOT NULL,
	[product_discount_id] [int] NULL,
	[discount_amount] [int] NOT NULL,
	[expire_date] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[coupon_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deleted_messages]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deleted_messages](
	[messages_id] [int] NOT NULL,
	[message_content] [nvarchar](max) NOT NULL,
	[message_type] [char](100) NOT NULL,
	[deleted_at] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[groups]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[groups](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[groupname] [varchar](50) NOT NULL,
	[users_id] [int] NOT NULL,
	[avatar] [char](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[messages_id] [int] IDENTITY(1,1) NOT NULL,
	[sender] [int] NOT NULL,
	[receiver] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[messages_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages_content]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages_content](
	[messages_id] [int] NOT NULL,
	[message_content] [nvarchar](max) NOT NULL,
	[message_type] [char](100) NOT NULL,
	[created_at] [datetime] NULL,
	[seen] [bit] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[order_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_details]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_details](
	[order_id] [int] NULL,
	[order_product_id] [int] NULL,
	[order_amount] [int] NOT NULL,
	[order_date] [datetime] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[product_name] [varchar](255) NOT NULL,
	[product_price] [float] NOT NULL,
	[product_title] [varchar](255) NOT NULL,
	[product_description] [varchar](255) NOT NULL,
	[cid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_category]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_category](
	[product_id] [int] NOT NULL,
	[category_id] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_image]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_image](
	[product_id] [int] NULL,
	[product_image_path] [varchar](max) NOT NULL,
	[modified_at] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_inventory]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_inventory](
	[product_id] [int] NULL,
	[product_quantity] [int] NOT NULL,
	[modified_at] [datetime] NULL,
	[created_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_review]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_review](
	[review_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[title] [varchar](255) NOT NULL,
	[review_content] [varchar](255) NOT NULL,
	[rating] [varchar](255) NOT NULL,
	[review_image_path] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[users_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[review_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[users_id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[phonenumber] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[gender] [bit] NOT NULL,
	[avatar] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[users_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_account]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_account](
	[users_id] [int] NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_address]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_address](
	[users_id] [int] NULL,
	[home_address] [nvarchar](50) NOT NULL,
	[district] [nvarchar](50) NOT NULL,
	[city] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_cart]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_cart](
	[users_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[order_amount] [int] NOT NULL,
	[created_at] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_friends]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_friends](
	[users_id] [int] NULL,
	[friend_id] [int] NULL,
	[date_modified] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_payment]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_payment](
	[users_id] [int] NOT NULL,
	[bank_id] [int] NOT NULL,
	[account_number] [varchar](50) NOT NULL,
	[expiry_date] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users_role]    Script Date: 6/16/2022 10:12:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users_role](
	[users_id] [int] NOT NULL,
	[user_role] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[banks_info] ON 

INSERT [dbo].[banks_info] ([bank_id], [bank_name], [bank_code]) VALUES (1, N'Ngân hàng Nông nghiệp và Phát triển Nông thôn VN', N'Agribank')
INSERT [dbo].[banks_info] ([bank_id], [bank_name], [bank_code]) VALUES (2, N'Ngân hàng Xây dựng', N'CB')
INSERT [dbo].[banks_info] ([bank_id], [bank_name], [bank_code]) VALUES (3, N'Ngân hàng Ðại Duong', N'OceanBank')
SET IDENTITY_INSERT [dbo].[banks_info] OFF
GO
SET IDENTITY_INSERT [dbo].[category] ON 

INSERT [dbo].[category] ([category_id], [category_name]) VALUES (1, N'Foods')
INSERT [dbo].[category] ([category_id], [category_name]) VALUES (2, N'Drinks')
INSERT [dbo].[category] ([category_id], [category_name]) VALUES (3, N'Ice Cream')
SET IDENTITY_INSERT [dbo].[category] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [product_name], [product_price], [product_title], [product_description], [cid]) VALUES (1, N'Chicken Hamburger', 5, N'Hamburger title', N'Hamburger des', 1)
INSERT [dbo].[products] ([product_id], [product_name], [product_price], [product_title], [product_description], [cid]) VALUES (2, N'Burger Mozzarella', 4.9, N'Burger Mozzarella', N'Burger with Mozzarella cheese', 1)
INSERT [dbo].[products] ([product_id], [product_name], [product_price], [product_title], [product_description], [cid]) VALUES (3, N'Burger Double Double', 5.1, N'Burger Double Double', N'Burger with double beef, double cheese, onion, tomato', 1)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
INSERT [dbo].[products_category] ([product_id], [category_id]) VALUES (1, 1)
INSERT [dbo].[products_category] ([product_id], [category_id]) VALUES (2, 1)
INSERT [dbo].[products_category] ([product_id], [category_id]) VALUES (3, 1)
GO
INSERT [dbo].[products_image] ([product_id], [product_image_path], [modified_at]) VALUES (1, N'images/1.png', CAST(N'2022-06-14T19:07:43.100' AS DateTime))
INSERT [dbo].[products_image] ([product_id], [product_image_path], [modified_at]) VALUES (2, N'images/2.png', CAST(N'2022-06-14T19:07:50.660' AS DateTime))
INSERT [dbo].[products_image] ([product_id], [product_image_path], [modified_at]) VALUES (3, N'images/3.png', CAST(N'2022-06-14T19:07:59.843' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([users_id], [firstname], [lastname], [phonenumber], [email], [gender], [avatar]) VALUES (1, N'mark', N'kass', N'12345678', N'user1@fpt.edu.vn', 0, N'images/girl.jpg')
INSERT [dbo].[users] ([users_id], [firstname], [lastname], [phonenumber], [email], [gender], [avatar]) VALUES (2, N'john', N'viet', N'45865893', N'user2@fpt.edu.vn', 1, N'images/boy.jpg')
INSERT [dbo].[users] ([users_id], [firstname], [lastname], [phonenumber], [email], [gender], [avatar]) VALUES (3, N'gary', N'bass', N'675978234', N'user3@fpt.edu.vn', 1, N'images/boy.jpg')
SET IDENTITY_INSERT [dbo].[users] OFF
GO
INSERT [dbo].[users_account] ([users_id], [username], [password]) VALUES (1, N'user1', N'user1')
INSERT [dbo].[users_account] ([users_id], [username], [password]) VALUES (2, N'user2', N'user2')
INSERT [dbo].[users_account] ([users_id], [username], [password]) VALUES (3, N'user3', N'user3')
GO
INSERT [dbo].[users_address] ([users_id], [home_address], [district], [city]) VALUES (1, N'12 hang bai', N'Hoan Kiem', N'Hanoi')
INSERT [dbo].[users_address] ([users_id], [home_address], [district], [city]) VALUES (2, N'55 Nguyen Hoang Ton', N'Bac Tu Liem', N'Hanoi')
INSERT [dbo].[users_address] ([users_id], [home_address], [district], [city]) VALUES (3, N'2 Nguyen Trai', N'Quan 1', N'Ho Chi Minh city')
GO
INSERT [dbo].[users_role] ([users_id], [user_role]) VALUES (1, N'user')
INSERT [dbo].[users_role] ([users_id], [user_role]) VALUES (2, N'seller')
INSERT [dbo].[users_role] ([users_id], [user_role]) VALUES (3, N'seller')
GO
ALTER TABLE [dbo].[deleted_messages] ADD  DEFAULT (getdate()) FOR [deleted_at]
GO
ALTER TABLE [dbo].[messages_content] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders_details] ADD  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[products_image] ADD  DEFAULT (getdate()) FOR [modified_at]
GO
ALTER TABLE [dbo].[products_inventory] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[products_review] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users_cart] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users_friends] ADD  DEFAULT (getdate()) FOR [date_modified]
GO
ALTER TABLE [dbo].[coupons]  WITH CHECK ADD FOREIGN KEY([product_discount_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[deleted_messages]  WITH CHECK ADD FOREIGN KEY([messages_id])
REFERENCES [dbo].[messages] ([messages_id])
GO
ALTER TABLE [dbo].[groups]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([receiver])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD FOREIGN KEY([sender])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[messages_content]  WITH CHECK ADD FOREIGN KEY([messages_id])
REFERENCES [dbo].[messages] ([messages_id])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([order_by])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[orders_details]  WITH CHECK ADD FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[orders_details]  WITH CHECK ADD FOREIGN KEY([order_product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[products_category]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[category] ([category_id])
GO
ALTER TABLE [dbo].[products_category]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[products_image]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[products_inventory]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[products_review]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[products_review]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[users_account]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[users_address]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[users_cart]  WITH CHECK ADD FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[users_cart]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[users_friends]  WITH CHECK ADD FOREIGN KEY([friend_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[users_friends]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[users_payment]  WITH CHECK ADD FOREIGN KEY([bank_id])
REFERENCES [dbo].[banks_info] ([bank_id])
GO
ALTER TABLE [dbo].[users_payment]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
ALTER TABLE [dbo].[users_role]  WITH CHECK ADD FOREIGN KEY([users_id])
REFERENCES [dbo].[users] ([users_id])
GO
