/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 21, 2022, 11:50:10 PM
    Author     : Tuan Phong
*/

img:hover {
    box-shadow: 0 0 4px 2px rgba(0, 140, 186, 0.5);
}
.avatar {
    border-radius: 50%;
    width: 50px;
    height: auto;
}
body {
    background-image: url("https://img.freepik.com/free-vector/white-technology-background_23-2148390334.jpg?w=1000") !important;
    background-size: cover;
}
.main_content {
    background-image: url("https://img.freepik.com/free-vector/white-technology-background_23-2148390334.jpg?w=1000") !important;
}
